[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "cartography"]
	path = cartography
	url = https://github.com/riatelab/cartography
	shallow = true
	registered = true
	oncran = true
[submodule "linemap"]
	path = linemap
	url = https://github.com/riatelab/linemap
	shallow = true
	registered = true
	oncran = true
[submodule "mapsf"]
	path = mapsf
	url = https://github.com/riatelab/mapsf
	shallow = true
	registered = true
	oncran = true
[submodule "maptiles"]
	path = maptiles
	url = https://github.com/riatelab/maptiles
	shallow = true
	registered = true
	oncran = true
[submodule "MTA"]
	path = MTA
	url = https://github.com/riatelab/mta
	shallow = true
	registered = true
	oncran = true
[submodule "osrm"]
	path = osrm
	url = https://github.com/riatelab/osrm
	shallow = true
	registered = true
	oncran = true
[submodule "potential"]
	path = potential
	url = https://github.com/riatelab/potential
	shallow = true
	registered = true
	oncran = true
[submodule "SpatialPosition"]
	path = SpatialPosition
	url = https://github.com/riatelab/SpatialPosition
	shallow = true
	registered = true
	oncran = false
[submodule "tanaka"]
	path = tanaka
	url = https://github.com/riatelab/tanaka
	shallow = true
	registered = true
	oncran = true
